
{% extends "base.html" %}

{% block title %}Generate QR Code {% endblock %}

{% block content %}
  <div class="form-container">
      <h2>Generate Your Restaurant Menu QR Code</h2>
      <p class="text-muted mb-4">Enter your menu link or details below to create a digital QR code for your restaurant.</p>

      <form action="{% url 'generate_qr_code' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-lg mt-2">Generate QR Code</button>
      </form>
    </div>
  </div>

{% endblock %}